<img src="../images/airplane-symbol.jpg" style="float: left; margin: 20px;" width="50" height="50"> 
#  Predicting Flight Delays (<i>a Proof-of-Concept</i>)

Author: Solomon Heng

---

# (4) Cleaning Flight Data & Combining Datasets

## Processes covered in this notebook:
1. [Importing KATL flight data](#(1)-Importing-KATL-flight-data)
2. [Cleaning flight data](#(2)-Cleaning-flight-data)
3. [Combining datasets](#(3)-Combining-datasets)
4. [Exporting combined dataframe for further evaluation](#(4)-Exporting-combined-dataframe-for-further-evaluation)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

---
### (1) Importing KATL flight data

---

In [2]:
df = pd.read_csv('../datasets/2015KATLflights.csv')

In [3]:
pd.set_option('display.max_columns', 50)
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,33.0,3.0,12.0,45.0,221.0,203.0,186.0,1747,651.0,5.0,711,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,DL,2336,N958DN,DEN,ATL,30,24.0,-6.0,12.0,36.0,173.0,149.0,133.0,1199,449.0,4.0,523,453.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,DL,2324,N3751B,SLC,ATL,40,34.0,-6.0,18.0,52.0,215.0,199.0,176.0,1590,548.0,5.0,615,553.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,DL,95,N320US,SLC,ATL,140,134.0,-6.0,43.0,217.0,215.0,231.0,182.0,1590,719.0,6.0,715,725.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,EV,5583,N882AS,VPS,ATL,520,514.0,-6.0,9.0,523.0,66.0,57.0,42.0,250,705.0,6.0,726,711.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(346904, 31)

---
### (2) Cleaning flight data

---

**First we will be looking at delays for aircrafts which have DEPARTED.**

**_Meaning, once a flight is confirmed and have started pushback from the terminal, will we be expecting any delays for the flight in reaching the destination & if yes, how much delay?_**

Based on our domain knowledge, we will be taking the features which would be useful to our model subsequently and dropping features which we will not have the luxury of having in real life scenarios.

In [5]:
df.drop(['FLIGHT_NUMBER', 'TAIL_NUMBER', 'TAXI_OUT', 'ELAPSED_TIME', 'TAXI_IN', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'WEATHER_DELAY'], axis=1, inplace=True)

In [6]:
df.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME           2624
DEPARTURE_DELAY          2624
WHEELS_OFF               2703
SCHEDULED_TIME              0
AIR_TIME                 3828
DISTANCE                    0
WHEELS_ON                2751
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME             2751
ARRIVAL_DELAY            3828
DIVERTED                    0
CANCELLED                   0
LATE_AIRCRAFT_DELAY    294826
dtype: int64

In [7]:
df[df['DEPARTURE_TIME'].isnull()].head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,LATE_AIRCRAFT_DELAY
102,2015,1,1,4,NK,DFW,ATL,731,NaN,NaN,NaN,121.0,NaN,731,NaN,1032,NaN,NaN,0,1,NaN
291,2015,1,1,4,AA,DFW,ATL,1150,NaN,NaN,NaN,115.0,NaN,731,NaN,1445,NaN,NaN,0,1,NaN
1184,2015,1,2,5,EV,BTR,ATL,1145,NaN,NaN,NaN,88.0,NaN,448,NaN,1413,NaN,NaN,0,1,NaN
1409,2015,1,2,5,EV,BTR,ATL,1503,NaN,NaN,NaN,86.0,NaN,448,NaN,1729,NaN,NaN,0,1,NaN
1935,2015,1,3,6,DL,MCI,ATL,700,NaN,NaN,NaN,125.0,NaN,692,NaN,1005,NaN,NaN,0,1,NaN

In [8]:
len(df[df['DEPARTURE_TIME'].isnull()]['DEPARTURE_TIME'])

2624

In [9]:
len(df[df['DEPARTURE_TIME'].isnull() & (df['CANCELLED'] == 1)]['DEPARTURE_TIME'])

2624

Natural that all flights with no departure timing are cancelled flights. Since we are only dealing with delay prediction for flights which have been airborne, we will be dropping these cancelled flights data points later.

However, vice-versa might not be true (cancelled flights and yet have departure timing)

In [10]:
# Seeing flights which are cancelled and yet has a departure timing

len(df[(df['CANCELLED']==1) & df['DEPARTURE_TIME'].notnull()])

91

In [11]:
# Seeing flights which are cancelled and yet has a departure timing

df[(df['CANCELLED']==1) & df['DEPARTURE_TIME'].notnull()].head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,LATE_AIRCRAFT_DELAY
2485,2015,1,3,6,DL,ICT,ATL,1635,1830.0,115.0,NaN,126.0,NaN,782,NaN,1941,NaN,NaN,0,1,NaN
2790,2015,1,4,7,MQ,ORD,ATL,610,641.0,31.0,747.0,108.0,NaN,606,NaN,858,NaN,NaN,0,1,NaN
5759,2015,1,7,3,EV,CID,ATL,600,553.0,-7.0,NaN,129.0,NaN,694,NaN,909,NaN,NaN,0,1,NaN
5787,2015,1,7,3,WN,MSP,ATL,610,704.0,54.0,NaN,160.0,NaN,907,NaN,950,NaN,NaN,0,1,NaN
7860,2015,1,9,5,DL,CLE,ATL,650,643.0,-7.0,NaN,125.0,NaN,554,NaN,855,NaN,NaN,0,1,NaN

Seems weird to me that an aircraft has a departure timing and yet no airtime.

For the sake of the model, since we have nearly 300k data points, we will opt to drop the 91 data points which will take alot of investigation to explain.

In [12]:
# Dropping the cancelled flights and data points which are cancelled flights and yet have dep timings
# Basically dropping all cancelled flights

df = df[df['CANCELLED'] != 1]

In [13]:
df.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME              0
DEPARTURE_DELAY             0
WHEELS_OFF                  0
SCHEDULED_TIME              0
AIR_TIME                 1113
DISTANCE                    0
WHEELS_ON                  36
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME               36
ARRIVAL_DELAY            1113
DIVERTED                    0
CANCELLED                   0
LATE_AIRCRAFT_DELAY    292111
dtype: int64

Now we see null values for AIR_TIME & ARRIVAL_DELAY.

Let's see if the null values overlap.

In [14]:
len(df[df['AIR_TIME'].isnull() & df['ARRIVAL_DELAY'].isnull()])

1113

In [15]:
# 1113 null values and it seems that our hunch of the overlap is right
# We shall further explore the data points with missing AIR_TIME & ARRIVAL_DELAY values

df[df['AIR_TIME'].isnull() & df['ARRIVAL_DELAY'].isnull()].head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,LATE_AIRCRAFT_DELAY
57,2015,1,1,4,DL,OMA,ATL,645,637.0,-8.0,704.0,144.0,NaN,821,1447.0,1009,1451.0,NaN,1,0,NaN
2305,2015,1,3,6,WN,SFO,ATL,1325,1335.0,10.0,1344.0,270.0,NaN,2139,8.0,2055,16.0,NaN,1,0,NaN
2400,2015,1,3,6,WN,MCO,ATL,1505,1505.0,0.0,1519.0,90.0,NaN,404,1920.0,1635,1934.0,NaN,1,0,NaN
2415,2015,1,3,6,DL,BDL,ATL,1520,1518.0,-2.0,1616.0,166.0,NaN,859,11.0,1806,20.0,NaN,1,0,NaN
3954,2015,1,5,1,DL,BWI,ATL,730,725.0,-5.0,740.0,129.0,NaN,577,1439.0,939,1444.0,NaN,1,0,NaN

Seems to me that the aircrafts with no AIR_TIME & ARRIVAL_DELAY are the ones which ended up being diverted. Shall check on this

In [16]:
# Number of diverted flights

len(df[df['DIVERTED'] == 1])

1113

In [17]:
len(df[df['AIR_TIME'].isnull() & df['ARRIVAL_DELAY'].isnull() & (df['DIVERTED'] == 1)])

1113

Our deduction of diverted flights having no AIR_TIME & ARRIVAL_DELAY is seemingly true.

Although it is possible for a flight to be diverted due to delays that are way too long (fuel restrictions), we will not be considering them in the scope of our project as it will complicate things alot and also it would be very intensive to try and sieve and group the correct reasons for diversion. 

We will proceed to drop diverted flights since they would not be in the scope of our project.

In [18]:
df = df[df['DIVERTED'] != 1]

In [19]:
df.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME              0
DEPARTURE_DELAY             0
WHEELS_OFF                  0
SCHEDULED_TIME              0
AIR_TIME                    0
DISTANCE                    0
WHEELS_ON                   0
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME                0
ARRIVAL_DELAY               0
DIVERTED                    0
CANCELLED                   0
LATE_AIRCRAFT_DELAY    290998
dtype: int64

In [20]:
df.shape

(343076, 21)

The last feature with null values is LATE_AIRCRAFT_DELAY which is the delay caused by the aircraft (i.e. an aircraft which is scheduled to depart at a specific timing arrived late from its previous flight and hence the delay spilled over to the next departure)

A null value in this feature would mean that there is no delay incurred from the late arrival of the previous flight. As such, we shall impute all null values with 0.

In [21]:
values = {'LATE_AIRCRAFT_DELAY' : 0}

df.fillna(value=values, inplace=True)

In [22]:
df.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
WHEELS_OFF             0
SCHEDULED_TIME         0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
LATE_AIRCRAFT_DELAY    0
dtype: int64

No more null values for now. 

We shall proceed to check out datatypes

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343076 entries, 0 to 346903
Data columns (total 21 columns):
YEAR                   343076 non-null int64
MONTH                  343076 non-null int64
DAY                    343076 non-null int64
DAY_OF_WEEK            343076 non-null int64
AIRLINE                343076 non-null object
ORIGIN_AIRPORT         343076 non-null object
DESTINATION_AIRPORT    343076 non-null object
SCHEDULED_DEPARTURE    343076 non-null int64
DEPARTURE_TIME         343076 non-null float64
DEPARTURE_DELAY        343076 non-null float64
WHEELS_OFF             343076 non-null float64
SCHEDULED_TIME         343076 non-null float64
AIR_TIME               343076 non-null float64
DISTANCE               343076 non-null int64
WHEELS_ON              343076 non-null float64
SCHEDULED_ARRIVAL      343076 non-null int64
ARRIVAL_TIME           343076 non-null float64
ARRIVAL_DELAY          343076 non-null float64
DIVERTED               343076 non-null int64
CANCELLED              343076 non-null int64
LATE_AIRCRAFT_DELAY    343076 non-null float64
dtypes: float64(9), int64(9), object(3)
memory usage: 57.6+ MB

The data types seem to be ok, except for:
1. YEAR, MONTH, DAY, DAY_OF_WEEK - we will proceed to convert them into pandas DateTime format to allow for further preprocessing and merging with other datasets later on.
2. The DIVERTED & CANCELLED features are no longer relevant as we have already dropped all cancelled and diverted flights in the above exploration. As such we will drop them.

_The other time features (e.g. DEPARTURE_TIME, ARRIVAL_TIME) will be left as it is and cleaned later on when we need it to merge with weather data_

In [24]:
df.shape

(343076, 21)

In [25]:
# Dropping DIVERTED & CANCELLED features

df.drop(columns=['DIVERTED', 'CANCELLED'], axis=1, inplace=True)
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY
0,2015,1,1,4,DL,LAS,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0
1,2015,1,1,4,DL,DEN,ATL,30,24.0,-6.0,36.0,173.0,133.0,1199,449.0,523,453.0,-30.0,0.0
2,2015,1,1,4,DL,SLC,ATL,40,34.0,-6.0,52.0,215.0,176.0,1590,548.0,615,553.0,-22.0,0.0
3,2015,1,1,4,DL,SLC,ATL,140,134.0,-6.0,217.0,215.0,182.0,1590,719.0,715,725.0,10.0,0.0
4,2015,1,1,4,EV,VPS,ATL,520,514.0,-6.0,523.0,66.0,42.0,250,705.0,726,711.0,-15.0,0.0

In [26]:
df.shape

(343076, 19)

In [27]:
# Adding 0 to MONTH & DAY if it is single digit. (For subsequent processing)

df['MONTH'] = df['MONTH'].apply(lambda x: ('0' + str(x)) if (x<10) else str(x))
df['DAY'] = df['DAY'].apply(lambda x: ('0' + str(x)) if (x<10) else str(x))

In [28]:
df['MONTH'].dtypes

dtype('O')

In [29]:
df['DAY'].dtypes

dtype('O')

In [30]:
# Combining the YEAR, MONTH, DAY to form a new feature so that we can convert to DT

df['DATETIME'] = df['YEAR'].astype(str) + df['MONTH'] + df['DAY']

In [31]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'WHEELS_OFF', 'SCHEDULED_TIME', 'AIR_TIME',
       'DISTANCE', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'LATE_AIRCRAFT_DELAY', 'DATETIME'],
      dtype='object')

In [32]:
# Rearranging feature order and checking

df = df[['DATETIME', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'WHEELS_OFF', 'SCHEDULED_TIME', 'AIR_TIME',
       'DISTANCE', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'LATE_AIRCRAFT_DELAY']]
df.head()

,DATETIME,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY
0,20150101,2015,01,01,4,DL,LAS,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0
1,20150101,2015,01,01,4,DL,DEN,ATL,30,24.0,-6.0,36.0,173.0,133.0,1199,449.0,523,453.0,-30.0,0.0
2,20150101,2015,01,01,4,DL,SLC,ATL,40,34.0,-6.0,52.0,215.0,176.0,1590,548.0,615,553.0,-22.0,0.0
3,20150101,2015,01,01,4,DL,SLC,ATL,140,134.0,-6.0,217.0,215.0,182.0,1590,719.0,715,725.0,10.0,0.0
4,20150101,2015,01,01,4,EV,VPS,ATL,520,514.0,-6.0,523.0,66.0,42.0,250,705.0,726,711.0,-15.0,0.0

In [33]:
df['DATETIME'] = pd.to_datetime(df['DATETIME'])

In [34]:
df.head()

,DATETIME,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY
0,2015-01-01,2015,01,01,4,DL,LAS,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0
1,2015-01-01,2015,01,01,4,DL,DEN,ATL,30,24.0,-6.0,36.0,173.0,133.0,1199,449.0,523,453.0,-30.0,0.0
2,2015-01-01,2015,01,01,4,DL,SLC,ATL,40,34.0,-6.0,52.0,215.0,176.0,1590,548.0,615,553.0,-22.0,0.0
3,2015-01-01,2015,01,01,4,DL,SLC,ATL,140,134.0,-6.0,217.0,215.0,182.0,1590,719.0,715,725.0,10.0,0.0
4,2015-01-01,2015,01,01,4,EV,VPS,ATL,520,514.0,-6.0,523.0,66.0,42.0,250,705.0,726,711.0,-15.0,0.0

In [35]:
# Looks good, we shall drop YEAR, MONTH & DAY as they are no longer relevant

df.drop(['YEAR', 'MONTH', 'DAY'], axis=1, inplace=True)

In [36]:
df.head()

,DATETIME,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY
0,2015-01-01,4,DL,LAS,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0
1,2015-01-01,4,DL,DEN,ATL,30,24.0,-6.0,36.0,173.0,133.0,1199,449.0,523,453.0,-30.0,0.0
2,2015-01-01,4,DL,SLC,ATL,40,34.0,-6.0,52.0,215.0,176.0,1590,548.0,615,553.0,-22.0,0.0
3,2015-01-01,4,DL,SLC,ATL,140,134.0,-6.0,217.0,215.0,182.0,1590,719.0,715,725.0,10.0,0.0
4,2015-01-01,4,EV,VPS,ATL,520,514.0,-6.0,523.0,66.0,42.0,250,705.0,726,711.0,-15.0,0.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343076 entries, 0 to 346903
Data columns (total 17 columns):
DATETIME               343076 non-null datetime64[ns]
DAY_OF_WEEK            343076 non-null int64
AIRLINE                343076 non-null object
ORIGIN_AIRPORT         343076 non-null object
DESTINATION_AIRPORT    343076 non-null object
SCHEDULED_DEPARTURE    343076 non-null int64
DEPARTURE_TIME         343076 non-null float64
DEPARTURE_DELAY        343076 non-null float64
WHEELS_OFF             343076 non-null float64
SCHEDULED_TIME         343076 non-null float64
AIR_TIME               343076 non-null float64
DISTANCE               343076 non-null int64
WHEELS_ON              343076 non-null float64
SCHEDULED_ARRIVAL      343076 non-null int64
ARRIVAL_TIME           343076 non-null float64
ARRIVAL_DELAY          343076 non-null float64
LATE_AIRCRAFT_DELAY    343076 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(4), object(3)
memory usage: 47.1+ MB

---
### (3) Combining datasets

The above portion is now okay. We shall move on to bring in the other data sets and combining them as appropriate.

Datasets which we will be bringing in:
1. **Airports** - To help us identify origin airports easier later on
2. **Airlines** - To help us understand the IATA codes easier when doing EDA later on
3. **METAR for KATL** - To help us incorporate weather data for the destination airport we are focusing on into the dataset for modelling. We will also be engineering features which we think will be important from this later on

---

**We shall combine the airport dataset first**

In [38]:
airport = pd.read_csv('../datasets/airports.csv')

In [39]:
airport.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [40]:
airport.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [41]:
# Checking out the null values
airport[airport.LATITUDE.isnull()]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
96,ECP,Northwest Florida Beaches International Airport,Panama City,FL,USA,NaN,NaN
234,PBG,Plattsburgh International Airport,Plattsburgh,NY,USA,NaN,NaN
313,UST,Northeast Florida Regional Airport (St. August...,St. Augustine,FL,USA,NaN,NaN

We can actually impute the long and lat for the 3 missing Longitude and Latitude with a simple Google search and will proceed to do so.

In [42]:
airport.at[96, 'LATITUDE'] = 30.354984
airport.at[96, 'LONGITUDE'] = -85.79934

airport.at[234, 'LATITUDE'] = 44.669441
airport.at[234, 'LONGITUDE'] = -73.472294

airport.at[313, 'LATITUDE'] = 29.954705
airport.at[313, 'LONGITUDE'] = -81.343314

In [43]:
airport.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [44]:
df = df.merge(airport, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE')

In [45]:
df.columns = ['DATETIME', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'WHEELS_OFF', 'SCHEDULED_TIME', 'AIR_TIME',
       'DISTANCE', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'LATE_AIRCRAFT_DELAY', 'ORIGIN_AIRPORT_IATA_CODE', 'ORIGIN_AIRPORT_NAME', 'ORIGIN_CITY',
       'ORIGIN_STATE', 'ORIGIN_COUNTRY', 'ORIGIN_AIRPORT_LATITUDE', 'ORIGIN_AIRPORT_LONGITUDE']

In [46]:
df.head()

,DATETIME,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY,ORIGIN_AIRPORT_IATA_CODE,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE
0,2015-01-01,4,DL,LAS,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233
1,2015-01-01,4,DL,LAS,ATL,715,712.0,-3.0,726.0,225.0,191.0,1747,1337.0,1400,1342.0,-18.0,0.0,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233
2,2015-01-01,4,WN,LAS,ATL,925,927.0,2.0,1000.0,225.0,199.0,1747,1619.0,1610,1625.0,15.0,0.0,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233
3,2015-01-01,4,DL,LAS,ATL,1115,1116.0,1.0,1131.0,223.0,191.0,1747,1742.0,1758,1747.0,-11.0,0.0,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233
4,2015-01-01,4,DL,LAS,ATL,1345,1353.0,8.0,1406.0,228.0,194.0,1747,2020.0,2033,2023.0,-10.0,0.0,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233

**We shall combine the airlines dataset next**

In [47]:
airline = pd.read_csv('../datasets/airlines.csv')

In [48]:
airline.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [49]:
df = df.merge(airline, left_on='AIRLINE', right_on='IATA_CODE')

In [50]:
df.drop(['IATA_CODE', 'ORIGIN_AIRPORT_IATA_CODE'], axis=1, inplace=True) # Dropping duplicated features

# Renaming columns
df.columns = ['DATETIME', 'DAY_OF_WEEK', 'AIRLINE_CODE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'WHEELS_OFF', 'SCHEDULED_TIME', 'AIR_TIME',
       'DISTANCE', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'LATE_AIRCRAFT_DELAY', 'ORIGIN_AIRPORT_NAME', 
       'ORIGIN_CITY', 'ORIGIN_STATE', 'ORIGIN_COUNTRY', 'ORIGIN_AIRPORT_LATITUDE', 
       'ORIGIN_AIRPORT_LONGITUDE', 'AIRLINE_NAME']

# NOTE: merging messes up index, careful!!!!

In [51]:
df.head()

,DATETIME,DAY_OF_WEEK,AIRLINE_CODE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,AIRLINE_NAME
0,2015-01-01,4,DL,LAS,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,Delta Air Lines Inc.
1,2015-01-01,4,DL,LAS,ATL,715,712.0,-3.0,726.0,225.0,191.0,1747,1337.0,1400,1342.0,-18.0,0.0,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,Delta Air Lines Inc.
2,2015-01-01,4,DL,LAS,ATL,1115,1116.0,1.0,1131.0,223.0,191.0,1747,1742.0,1758,1747.0,-11.0,0.0,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,Delta Air Lines Inc.
3,2015-01-01,4,DL,LAS,ATL,1345,1353.0,8.0,1406.0,228.0,194.0,1747,2020.0,2033,2023.0,-10.0,0.0,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,Delta Air Lines Inc.
4,2015-01-01,4,DL,LAS,ATL,1519,1518.0,-1.0,1530.0,221.0,190.0,1747,2140.0,2200,2144.0,-16.0,0.0,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,Delta Air Lines Inc.

In [52]:
# Rearranging columns

df = df[['DATETIME', 'DAY_OF_WEEK', 'AIRLINE_CODE', 'AIRLINE_NAME',
       'ORIGIN_AIRPORT', 'ORIGIN_AIRPORT_NAME', 'ORIGIN_CITY', 'ORIGIN_STATE', 'ORIGIN_COUNTRY', 
       'ORIGIN_AIRPORT_LATITUDE', 'ORIGIN_AIRPORT_LONGITUDE',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'WHEELS_OFF', 'SCHEDULED_TIME', 'AIR_TIME',
       'DISTANCE', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'LATE_AIRCRAFT_DELAY']]

In [53]:
df.head()

,DATETIME,DAY_OF_WEEK,AIRLINE_CODE,AIRLINE_NAME,ORIGIN_AIRPORT,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY
0,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0
1,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,715,712.0,-3.0,726.0,225.0,191.0,1747,1337.0,1400,1342.0,-18.0,0.0
2,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1115,1116.0,1.0,1131.0,223.0,191.0,1747,1742.0,1758,1747.0,-11.0,0.0
3,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1345,1353.0,8.0,1406.0,228.0,194.0,1747,2020.0,2033,2023.0,-10.0,0.0
4,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1519,1518.0,-1.0,1530.0,221.0,190.0,1747,2140.0,2200,2144.0,-16.0,0.0

***Next we shall attempt to combine the KATL METAR data into the dataset.***

This is alot harder as we will need to match the correct METAR data to the correct flight. The strategy is to take the 1 hour aggregated data prior to every flight's landing.

Because the purpose of the model is to predict delays, we will map the weather to the SCHEDULED_ARRIVAL time. So basically, we are looking at each entry as the weather which it will experience when it arrives at the scheduled arrival time.

**Before we can combine weather into the dataset, we will need to create date and time features similar to that of the weather data**

6 time features to be "cleaned up":
1. SCHEDULED_DEPARTURE
2. DEPARTURE_TIME
3. WHEELS_OFF
4. WHEELS_ON
5. SCHEDULED_ARRIVAL
6. ARRIVAL_TIME

BUT for the purpose of merging, we will only "clean-up" SCHEDULED_ARRIVAL feature for now

**_P.S. Note that KATL is 5 hours behind UTC (the time used for the weather is in UTC), as such we will need to adjust accordingly_**

In [54]:
def extract_hour(x):
    """Defining function to help extract the hour from string"""
    if len(x) == 4:
        hour = x[:2]
    elif len(x) == 3:
        hour = x[0]
    else:
        hour = 0
    
    hour = int(hour)
    
    return hour


def extract_min(x):
    """Defining function to help extract the minutes from string"""
    mins = x[-2:]
    
    mins = int(mins)
    
    return mins

In [55]:
df['SCHEDULED_ARRIVAL'] = df['SCHEDULED_ARRIVAL'].astype(str)

In [56]:
df['SCHEDULED_ARRIVAL_HOUR'] = df['SCHEDULED_ARRIVAL'].apply(extract_hour)
df['SCHEDULED_ARRIVAL_MINS'] = df['SCHEDULED_ARRIVAL'].apply(extract_min)
df['SCHEDULED_ARRIVAL_YEAR'] = [i.year for i in df['DATETIME']]
df['SCHEDULED_ARRIVAL_MONTH'] = [i.month for i in df['DATETIME']]
df['SCHEDULED_ARRIVAL_DAY'] = [i.day for i in df['DATETIME']]

In [57]:
df.head()

,DATETIME,DAY_OF_WEEK,AIRLINE_CODE,AIRLINE_NAME,ORIGIN_AIRPORT,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MINS,SCHEDULED_ARRIVAL_YEAR,SCHEDULED_ARRIVAL_MONTH,SCHEDULED_ARRIVAL_DAY
0,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0,7,11,2015,1,1
1,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,715,712.0,-3.0,726.0,225.0,191.0,1747,1337.0,1400,1342.0,-18.0,0.0,14,0,2015,1,1
2,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1115,1116.0,1.0,1131.0,223.0,191.0,1747,1742.0,1758,1747.0,-11.0,0.0,17,58,2015,1,1
3,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1345,1353.0,8.0,1406.0,228.0,194.0,1747,2020.0,2033,2023.0,-10.0,0.0,20,33,2015,1,1
4,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1519,1518.0,-1.0,1530.0,221.0,190.0,1747,2140.0,2200,2144.0,-16.0,0.0,22,0,2015,1,1

Correcting the scheduled arrival hour based on the 52nd minute mark (North America convention to issue METARs on the 52nd minute marks of the hour).

METARS are essentially the weather report at time of observation and is valid for the next hour. So essentially for an approach, to keep things simple, if it is scheduled for arrival on the 53rd minute, we will still take the metar reading for the hour.

In [58]:
# Importing the weather data

wx = pd.read_csv('../datasets/cleaned_wx.csv')

In [59]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
0,1,2015,1,0,52,30.37,1,0,0,0,0,0,0,5,0,0,10.0,330.0,5.0,0
1,1,2015,1,1,52,30.37,0,0,0,0,0,0,0,4,0,0,10.0,310.0,4.0,0
2,1,2015,1,2,52,30.36,0,0,0,0,0,0,0,4,0,0,10.0,0.0,0.0,0
3,1,2015,1,3,52,30.37,-1,0,0,0,0,0,0,3,0,0,10.0,320.0,5.0,0
4,1,2015,1,4,52,30.35,-1,0,0,0,0,0,0,3,0,0,10.0,320.0,6.0,0

In [60]:
# Shifting the weather data from UTC to the time zone of KATL

wx['year'] = wx['year'].shift(-5)
wx['month'] = wx['month'].shift(-5)
wx['day'] = wx['day'].shift(-5)
wx['hour'] = wx['hour'].shift(-5)

In [61]:
wx.info()

# 5 less year, month, day, hour rows as compared to the number of entries cause we did a shift previously

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8739 entries, 0 to 8738
Data columns (total 20 columns):
month             8734 non-null float64
year              8734 non-null float64
day               8734 non-null float64
hour              8734 non-null float64
min               8739 non-null int64
QNH               8739 non-null float64
dew_point         8739 non-null int64
lightning         8739 non-null object
low_intensity     8739 non-null object
rain              8739 non-null object
shower            8739 non-null object
snow              8739 non-null object
squall            8739 non-null object
temp              8739 non-null int64
thunderyshower    8739 non-null object
vicinity          8739 non-null object
visibility        8739 non-null float64
winddir           8739 non-null float64
windspd           8739 non-null float64
windgust          8739 non-null object
dtypes: float64(8), int64(3), object(9)
memory usage: 1.3+ MB

Effectively when we shift the hours behind by 5 to adjust for local & UTC timings, the last 5 hours of the flight weather data should be taken from 2016 weather (cause the local time is 5 hours ahead of UTC).

In [62]:
df.shape

(343076, 29)

In [63]:
wx.head()

,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
0,1.0,2015.0,1.0,5.0,52,30.37,1,0,0,0,0,0,0,5,0,0,10.0,330.0,5.0,0
1,1.0,2015.0,1.0,6.0,52,30.37,0,0,0,0,0,0,0,4,0,0,10.0,310.0,4.0,0
2,1.0,2015.0,1.0,7.0,52,30.36,0,0,0,0,0,0,0,4,0,0,10.0,0.0,0.0,0
3,1.0,2015.0,1.0,8.0,52,30.37,-1,0,0,0,0,0,0,3,0,0,10.0,320.0,5.0,0
4,1.0,2015.0,1.0,9.0,52,30.35,-1,0,0,0,0,0,0,3,0,0,10.0,320.0,6.0,0

Do note that because of the time difference, the last 5 hours of 31st Dec 2015 will need to take weather data from the first 5 hours of 2016. To simplify things, and also because we do not have 2016 data, we will drop all data on the last day of 2015.

In [64]:
df = df[df['DATETIME'] != '2015-12-31']

In [65]:
df.tail()

,DATETIME,DAY_OF_WEEK,AIRLINE_CODE,AIRLINE_NAME,ORIGIN_AIRPORT,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MINS,SCHEDULED_ARRIVAL_YEAR,SCHEDULED_ARRIVAL_MONTH,SCHEDULED_ARRIVAL_DAY
343069,2015-12-28,1,AS,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,ATL,1615,1616.0,1.0,1631.0,283.0,263.0,2182,2354.0,2358,2.0,4.0,0.0,23,58,2015,12,28
343070,2015-12-29,2,AS,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,ATL,955,955.0,0.0,1017.0,283.0,262.0,2182,1739.0,1738,1747.0,9.0,0.0,17,38,2015,12,29
343071,2015-12-29,2,AS,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,ATL,1615,1615.0,0.0,1646.0,283.0,260.0,2182,6.0,2358,11.0,13.0,0.0,23,58,2015,12,29
343072,2015-12-30,3,AS,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,ATL,955,1025.0,30.0,1046.0,283.0,256.0,2182,1802.0,1738,1810.0,32.0,0.0,17,38,2015,12,30
343073,2015-12-30,3,AS,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,ATL,1615,1622.0,7.0,1640.0,283.0,255.0,2182,2355.0,2358,2.0,4.0,0.0,23,58,2015,12,30

In [66]:
# Checking shape after dropping the last day

df.shape

(342273, 29)

In [67]:
df = df.merge(wx, how='left', 
              left_on=['SCHEDULED_ARRIVAL_MONTH', 'SCHEDULED_ARRIVAL_DAY', 'SCHEDULED_ARRIVAL_HOUR'], 
              right_on=['month', 'day', 'hour'])

In [68]:
df.shape

(342273, 49)

In [69]:
df.isnull().sum()

DATETIME                      0
DAY_OF_WEEK                   0
AIRLINE_CODE                  0
AIRLINE_NAME                  0
ORIGIN_AIRPORT                0
ORIGIN_AIRPORT_NAME           0
ORIGIN_CITY                   0
ORIGIN_STATE                  0
ORIGIN_COUNTRY                0
ORIGIN_AIRPORT_LATITUDE       0
ORIGIN_AIRPORT_LONGITUDE      0
DESTINATION_AIRPORT           0
SCHEDULED_DEPARTURE           0
DEPARTURE_TIME                0
DEPARTURE_DELAY               0
WHEELS_OFF                    0
SCHEDULED_TIME                0
AIR_TIME                      0
DISTANCE                      0
WHEELS_ON                     0
SCHEDULED_ARRIVAL             0
ARRIVAL_TIME                  0
ARRIVAL_DELAY                 0
LATE_AIRCRAFT_DELAY           0
SCHEDULED_ARRIVAL_HOUR        0
SCHEDULED_ARRIVAL_MINS        0
SCHEDULED_ARRIVAL_YEAR        0
SCHEDULED_ARRIVAL_MONTH       0
SCHEDULED_ARRIVAL_DAY         0
month                       373
year                        373
day                         373
hour                        373
min                         373
QNH                         373
dew_point                   373
lightning                   373
low_intensity               373
rain                        373
shower                      373
snow                        373
squall                      373
temp                        373
thunderyshower              373
vicinity                    373
visibility                  373
winddir                     373
windspd                     373
windgust                    373
dtype: int64

In the cleaning of the weather, we have acertained that there are missing METAR entries _(supposed to be 8760 but we only have 8739 entries)_. Not surprising, after merging there are 373 entries with no weather data _(affected by the missing METAR entries)_.

We will proceed to drop the entries with no weather information.

In [70]:
df.dropna(axis=0, subset=['month'], inplace=True)

In [71]:
df.isnull().sum()

DATETIME                    0
DAY_OF_WEEK                 0
AIRLINE_CODE                0
AIRLINE_NAME                0
ORIGIN_AIRPORT              0
ORIGIN_AIRPORT_NAME         0
ORIGIN_CITY                 0
ORIGIN_STATE                0
ORIGIN_COUNTRY              0
ORIGIN_AIRPORT_LATITUDE     0
ORIGIN_AIRPORT_LONGITUDE    0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME              0
DEPARTURE_DELAY             0
WHEELS_OFF                  0
SCHEDULED_TIME              0
AIR_TIME                    0
DISTANCE                    0
WHEELS_ON                   0
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME                0
ARRIVAL_DELAY               0
LATE_AIRCRAFT_DELAY         0
SCHEDULED_ARRIVAL_HOUR      0
SCHEDULED_ARRIVAL_MINS      0
SCHEDULED_ARRIVAL_YEAR      0
SCHEDULED_ARRIVAL_MONTH     0
SCHEDULED_ARRIVAL_DAY       0
month                       0
year                        0
day                         0
hour                        0
min                         0
QNH                         0
dew_point                   0
lightning                   0
low_intensity               0
rain                        0
shower                      0
snow                        0
squall                      0
temp                        0
thunderyshower              0
vicinity                    0
visibility                  0
winddir                     0
windspd                     0
windgust                    0
dtype: int64

In [72]:
df.head()

,DATETIME,DAY_OF_WEEK,AIRLINE_CODE,AIRLINE_NAME,ORIGIN_AIRPORT,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MINS,SCHEDULED_ARRIVAL_YEAR,SCHEDULED_ARRIVAL_MONTH,SCHEDULED_ARRIVAL_DAY,month,year,day,hour,min,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
0,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0,7,11,2015,1,1,1.0,2015.0,1.0,7.0,52.0,30.36,0.0,0,0,0,0,0,0,4.0,0,0,10.0,0.0,0.0,0
1,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,715,712.0,-3.0,726.0,225.0,191.0,1747,1337.0,1400,1342.0,-18.0,0.0,14,0,2015,1,1,1.0,2015.0,1.0,14.0,52.0,30.31,-3.0,0,0,0,0,0,0,1.0,0,0,10.0,330.0,7.0,0
2,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1115,1116.0,1.0,1131.0,223.0,191.0,1747,1742.0,1758,1747.0,-11.0,0.0,17,58,2015,1,1,1.0,2015.0,1.0,17.0,52.0,30.33,-3.0,0,0,0,0,0,0,0.0,0,0,10.0,0.0,0.0,0
3,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1345,1353.0,8.0,1406.0,228.0,194.0,1747,2020.0,2033,2023.0,-10.0,0.0,20,33,2015,1,1,1.0,2015.0,1.0,20.0,52.0,30.36,-3.0,0,0,0,0,0,0,8.0,0,0,10.0,310.0,4.0,0
4,2015-01-01,4,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1519,1518.0,-1.0,1530.0,221.0,190.0,1747,2140.0,2200,2144.0,-16.0,0.0,22,0,2015,1,1,1.0,2015.0,1.0,22.0,52.0,30.28,-6.0,0,0,0,0,0,0,12.0,0,0,10.0,260.0,3.0,0

In [73]:
# Dropping replicated/unnecessary columns
df.drop(['month', 'day', 'hour', 'min'], axis=1, inplace=True)

# Rearranging the columns
df = df[['DATETIME', 'DAY_OF_WEEK', 'SCHEDULED_ARRIVAL_YEAR', 'SCHEDULED_ARRIVAL_MONTH',
       'SCHEDULED_ARRIVAL_DAY', 'SCHEDULED_ARRIVAL_HOUR',
       'SCHEDULED_ARRIVAL_MINS', 'AIRLINE_CODE', 'AIRLINE_NAME',
       'ORIGIN_AIRPORT', 'ORIGIN_AIRPORT_NAME', 'ORIGIN_CITY', 'ORIGIN_STATE',
       'ORIGIN_COUNTRY', 'ORIGIN_AIRPORT_LATITUDE', 'ORIGIN_AIRPORT_LONGITUDE',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'WHEELS_OFF', 'SCHEDULED_TIME', 'AIR_TIME',
       'DISTANCE', 'WHEELS_ON', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'LATE_AIRCRAFT_DELAY', 'QNH',
       'dew_point', 'lightning', 'low_intensity', 'rain', 'shower', 'snow',
       'squall', 'temp', 'thunderyshower', 'vicinity', 'visibility', 'winddir',
       'windspd', 'windgust']]

In [74]:
df.head()

,DATETIME,DAY_OF_WEEK,SCHEDULED_ARRIVAL_YEAR,SCHEDULED_ARRIVAL_MONTH,SCHEDULED_ARRIVAL_DAY,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MINS,AIRLINE_CODE,AIRLINE_NAME,ORIGIN_AIRPORT,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,WHEELS_OFF,SCHEDULED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,LATE_AIRCRAFT_DELAY,QNH,dew_point,lightning,low_intensity,rain,shower,snow,squall,temp,thunderyshower,vicinity,visibility,winddir,windspd,windgust
0,2015-01-01,4,2015,1,1,7,11,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,30,33.0,3.0,45.0,221.0,186.0,1747,651.0,711,656.0,-15.0,0.0,30.36,0.0,0,0,0,0,0,0,4.0,0,0,10.0,0.0,0.0,0
1,2015-01-01,4,2015,1,1,14,0,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,715,712.0,-3.0,726.0,225.0,191.0,1747,1337.0,1400,1342.0,-18.0,0.0,30.31,-3.0,0,0,0,0,0,0,1.0,0,0,10.0,330.0,7.0,0
2,2015-01-01,4,2015,1,1,17,58,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1115,1116.0,1.0,1131.0,223.0,191.0,1747,1742.0,1758,1747.0,-11.0,0.0,30.33,-3.0,0,0,0,0,0,0,0.0,0,0,10.0,0.0,0.0,0
3,2015-01-01,4,2015,1,1,20,33,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1345,1353.0,8.0,1406.0,228.0,194.0,1747,2020.0,2033,2023.0,-10.0,0.0,30.36,-3.0,0,0,0,0,0,0,8.0,0,0,10.0,310.0,4.0,0
4,2015-01-01,4,2015,1,1,22,0,DL,Delta Air Lines Inc.,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,ATL,1519,1518.0,-1.0,1530.0,221.0,190.0,1747,2140.0,2200,2144.0,-16.0,0.0,30.28,-6.0,0,0,0,0,0,0,12.0,0,0,10.0,260.0,3.0,0

In [75]:
df.shape

(341900, 44)

---
### (4) Exporting combined dataframe for further evaluation

---

In [76]:
df.to_csv('../datasets/combined_data.csv', index=False)